.topnav {
    background-color: #b07d8a;
    overflow: hidden;
    position: sticky;
    top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .topnav a {
    float: right;
    color: #ede1de;
    text-align: justify;
    padding: 14px 16px;
    font-size: 16px;
    position: sticky;
    top: 0px;
  }
  
 .topnav a:hover {
    background-color: #d5b0bd;
    color: #ede1de;
  }
  
  .topnav a.active {
    background-color: #d5b0bd;
    color: #ede1de;
  }

.container {
    background-color: #d5b0bd;
    margin: 0px;
}

#home {
    background-image: url(https://images8.alphacoders.com/134/1342341.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcomeHeader {
    float: center;
    text-align: center;
    color: #984a56;
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.aboutMeHeader {
    float: center;
    text-align: center;
    color: black;
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profilePictureContainer {
    padding-top: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.profilePicture {
    float: center; 
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutMeHeader {
    float: center;
}

.paragraphOne {
    color:black;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

.paragraphTwo {
    color: rgb(237, 118, 168);
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    padding-bottom: 30px;
}

.blogHeader {
    float: center;
    text-align: center;
    color: black;
    background-color: #d5b0bd;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blogButtonContainer {
    float: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.blogButtons {
    color: black;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: large;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #b07d8a;
    text-decoration: none;
}

.triviaContainer {
    background-color: #ffffff;
    padding-top: 0px;
    margin: auto;
}

.triviaHeader {
    background-color: #ffffff;
    float: center;
    text-align: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.triviaText {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.likes {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 20px;
    margin: auto;
}

.pink {
    color: lightpink;
}

.dislikes {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 20px;
    margin: auto;
}

.tableContainer {
    float: center;
    padding: 20px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  th, td {
    background-color: #b07d8a;
  }

.table {
     font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.contactContainer {
    float: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contactHeader {
    float: center;
    text-align: center;
    color: black;
    background-color: #d5b0bd;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contactLinks {
    color: black;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: large;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #b07d8a;
    text-decoration: none;
}

@media screen and (min-width: 80rem) {
    .container {
    }
  }